@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Baloo Bhai 2", sans-serif;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    background: #7965C1;
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    display: flex;
    flex-direction: column;
    gap: 75px;
}

.navbar {
    background: #e0dee7;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 25px;
    font-size: 1.4rem;
    height: 215px;
    gap: 17px;
}

.main {
    background: #ccc7e0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.sidebar-ui {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 25px;
    cursor: pointer;
    font-size: 1.4rem;
    color: white;
}

.sidebar-ui img {
    width: 40px;
    filter: invert(1);
}

.title img {
    width: 65px;
}

.title {
    font-size: 2.1rem;
}

.navbar img {
    width: 25px;
}

.search {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: 10px;
}

.search input {
    border: none;
    border-radius: 50px;
    width: 500px;
    height: 40px;
}

.search label {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile img:first-child {
    cursor: pointer;
}

.profile img:nth-child(2) {
    width: 65px;
    border-radius: 50%;
}

.greetings {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 10px;
}

.greetings img {
    width: 95px;
    height: 95px;
    border-radius: 50%;
}

.greetings-text {
    display: flex;
    flex-direction: column;
}

.greetings p:nth-child(1) {
    font-size: 1.2rem;
}

.greetings-text p:nth-child(2) {
    font-size: 2.1rem;
    margin-top: -10px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 25px;
}

.buttons button {
    width: 125px;
    height: 50px;
    border-radius: 50px;
    border: none;
    font-size: 1.2rem;
    background: #7965C1;
    color: white;
    cursor: pointer;
}

.main {
    padding: 25px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.projects {
    display: grid;
    grid-template-rows: 30px 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.projects h1 {
    font-size: 1.5rem;
}
.projects :first-child {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
}

.cards {
    background-color: #e0dee7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    border-left: 12px solid #fcb559;
}

.cards img {
    width: 28px;
}

.cards div {
    align-self: flex-end;

    display: flex;
    align-items: center;
    gap: 25px;
    margin: 0 25px 15px 0;
}

.cards h2 {
    padding: 25px;
}

.cards p {
    padding: 0 25px;
    font-size: 1.1rem;
}

.cards h2 {
 font-size: 1.7rem;
}

a {
    text-decoration: none;
    color: black;
}

.messages {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.message-card {
    background-color: #e0dee7;
    border-radius: 12px;
    border: 5px double #7965C1;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.message-card ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

ul li {
    list-style: disclosure-closed;
}