* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    background: #7965C1;
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    display: flex;
    flex-direction: column;
    gap: 75px;
}

.navbar {
    background: #e0dee7;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.main {
    background: #ccc7e0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.sidebar-ui {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 25px;
    cursor: pointer;
    font-size: 1.4rem;
    color: white;
}

.sidebar-ui img {
    width: 40px;
    filter: invert(1);
}

.title img{
    width: 65px;
}

.title {
    font-size: 2.1rem;
}